.overview {
    margin: 2em 0;
    width: 100%;
    height: 10em;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.overview > div.overview-column {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overview-column:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 20%;
    bottom: 20%;
    right: 0;
    width: 2px;
    background-color: #9a96966d;
  }

  .overview-column > div {
    display: flex;
    flex-direction: column;
  }

  .overview-column > div > p {
    color: rgb(136, 129, 129);
  }

  .overview-number {
    color: black;
    margin-top: 5px;
}