* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    background-color: #f1f1f1;
    width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    max-width: 1520px;
    margin: 0 auto;
}

@media (max-width: 1600px) {
    .flex {
        max-width: 1200px;
    }
}